body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-container{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.login-card{
  width: 400px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.3)
  
}
.logo-brand{
  
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.google-btn{
  margin-top: 200px;
}


section{
  background-image: url("../public/travel.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  /* height: 500px;  */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}